%tr
  %td= person.id 
  %td= person.firstname
  %td= person.lastname
  %td= person.pseudonym
  %td= person.user.try(:login) || link_to(_("Create User"), new_admin_person_user_path(person), :class => "buttons", :remote => true, :"data-type" => "html")
  %td= link_to(_("Edit"), edit_admin_person_path(person), :class => "buttons", :remote => true, :"data-type" => "html")

